body {
    background-color: black;

}
.home {
    margin-top: 5rem;
}
h2 {
    color: aliceblue;
}
.jumbotron {
    margin: 2rem 1rem;
}
p {
    color: aliceblue;
}
h1 {
    color: aliceblue;
}
footer {
    background-color: #04aa6d;
}