body {
    background-color: #ffff;

}
.home {
    margin-top: 5rem;
}
h2 {
    color: black;
}
#content-judul  {
    background-color: #ffff0091;

}
.jumbotron {
    margin: 2rem 1rem;
}
p {
    color: black;
}
h1 {
    color: black;
}
footer {
    background-color: #ffff00;
}